# ZedBoard


# Timing Specifications Constrain


# FPGA Pin Location Constrain

NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJA1_in_pin" LOC = AA9;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJA1_in_pin" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJA1_out_pin[0]" LOC = Y11;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJA1_out_pin[0]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJA1_out_pin[1]" LOC = AA11;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJA1_out_pin[1]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJA1_out_pin[2]" LOC = Y10;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJA1_out_pin[2]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[0]" LOC = W12;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[0]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[1]" LOC = W11;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[1]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[2]" LOC = V10;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[2]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[3]" LOC = W8;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[3]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[4]" LOC = V12;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[4]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[5]" LOC = W10;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[5]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[6]" LOC = V9;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[6]" IOSTANDARD = LVCMOS33;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[7]" LOC = V8;
NET "basicquadrotorcontrol_hdl_dut_pcore_0_PmodJB1_pin[7]" IOSTANDARD = LVCMOS33;
