# ZedBoard


# Timing Specifications Constrain


# FPGA Pin Location Constrain

NET "PmodJA1_in" LOC = "AA9"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1_out<0>" LOC = "Y11"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1_out<1>" LOC = "AA11"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1_out<2>" LOC = "Y10"  |  IOSTANDARD = LVCMOS33;
NET "PmodJB1<0>" LOC = "W12"  |  IOSTANDARD = LVCMOS33;
NET "PmodJB1<1>" LOC = "W11"  |  IOSTANDARD = LVCMOS33;
NET "PmodJB1<2>" LOC = "V10"  |  IOSTANDARD = LVCMOS33;
NET "PmodJB1<3>" LOC = "W8"  |  IOSTANDARD = LVCMOS33;
NET "PmodJB1<4>" LOC = "V12"  |  IOSTANDARD = LVCMOS33;
NET "PmodJB1<5>" LOC = "W10"  |  IOSTANDARD = LVCMOS33;
NET "PmodJB1<6>" LOC = "V9"  |  IOSTANDARD = LVCMOS33;
NET "PmodJB1<7>" LOC = "V8"  |  IOSTANDARD = LVCMOS33;
